<label for="">姓名：</label>  <input ng-disabled="true" type="text" ng-model="vm.profile.name"><br>

<label for="">昵称：</label> <input type="text" ng-model="vm.profile.nickName"><br>
<label for="">用户邮箱：</label>  <input type="email" ng-model="vm.profile.email"><br>

<label for="">家庭所在地：</label>  <input type="text" ng-model="vm.profile.adress"><br>
<label for="">电话号码</label>  <input type="text" ng-model="vm.profile.telNumber"><br>
<label for="">个人简介</label>  <input type="text" ng-model="vm.profile.selfComment"><br>

<button ng-click="vm.submitProfile()">确认</button>
<button ng-click="vm.cancel()">取消</button>