<div class="welcome-messege">欢迎,{{vm.userName}} &nbsp; <button class="btn btn-default" ui-sref="detailpage">个人信息</button></div>

<div class="chat-container">
    <div class="content-container">
        <div class="content-item" ng-repeat="content in vm.chatContent">
            <p class="status-messege">
                <span>{{content.name}}</span>
                <span>{{content.date}}</span>
            </p>
            <div class="item-content" ng-bind-html="vm.trustWithSCE(content.text)">
            </div>
        </div>
    </div>
    <div class="instrument-bar">
        <span>悄悄话</span>
        <select ng-model="vm.selectedUser">
            <option value="all">所有人</option>
            <option ng-repeat="(id, name) in vm.userList" value="{{id}}">{{name}}</option>
        </select>
    </div>
    <div class="input-container">
        <textarea ng-model="vm.userWord" class="input-area" ng-keypress="vm.enterPress($event)"></textarea>
        <button class="input-button" ng-click="vm.submitWord()">提交</button>
    </div>
</div>