* {
    margin: 0;
    padding: 0;
    outline: 0;
}
.welcome-message {
    font-size: 20px;
    line-height: 50px;
    padding: 0 50px;
    width: 800px;
    margin: 0 auto;
}
.chat-container {
    border: 1px solid #aaa;
    width: 800px;
    height: 650px;
    margin: 0 auto 0 auto;

    .content-container {
        margin-right: 200px;
        height: 450px;
        overflow: auto;
        border-bottom: 1px solid #aaa;

        .content-item {
            padding: 0 27px;
            margin: 10px 0 30px 0;

            .item-content {
                background-color: #ccc;
                padding: 7px 10px;
                border-radius: 10px;
                box-shadow: 0 0 5px 0px #aaa;
            }

            .status-message {
                padding-left: 15px;
            }
        }
    }

    .current-user {
        height: 450px;
        float: right;
        width: 200px;
        border: 1px red solid;
        padding: 35px 0 0 35px;
        list-style-type: none;
    }

    .input-container {
        height: 150px;

        .input-area {
            resize: none;
            height: 148px;
            width: 600px;
            border: 0;
            padding: 19px;
            font-size: 17px;
            float: left;
        }

        .input-button {
            width: 198px;
            height: 149px;
        }
    }
    .instrument-bar {
        height: 50px;
        line-height: 50px;
        padding: 0 20px;
        border-bottom: 1px solid #ccc;
    }
}